@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
:root {
    --lightblue: rgb();
    --darkblue: rgb(23, 79, 199); 
    --gray: rgb(15, 15, 15);
}

* {
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

/* background extends when scrolling */
html {
 background-color: var(--gray);
}

.page-split {
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    height: 100vh;
    width: calc(40%);
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container h1 {
    margin-right: auto;
    margin-left: 3%;
    margin-top: 2%;
}

img {
    margin-top: auto;
    width: min(500px, 90%);
}

img + p {
    margin-top: auto;
    margin-bottom: 5%;
}

.form-container {
    height: 100vh;
    width: calc(55%);
    background-color: var(--gray);
    display: flex;
    align-items: center;
    padding-left: 5%;
}

form {
    width: 100%;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 60px;
}

.form-row {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

input {
    background-color: transparent;
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    padding: 0px 5px;
}

.gap {
    flex: 1 0 20px;
}

form button {
    height: 50px;
    width: 250px;
    background-color: var(--darkblue);
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 50px;
}

/* Validation Styling */

    /* Basic Outlines  */

input:focus {
    border-radius: 4px;
}

input:focus:valid {
    border: 1px solid green;
}

input:focus:invalid {
    border: 1px solid red;
}

input:not(:focus):not(:placeholder-shown):valid {
    border-bottom: 1px solid green;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-bottom: 1px solid red;
}

input:focus::placeholder {
    color: transparent;
}

.phone-note {
    position: absolute;
    font-size: 0.7em;
    visibility: hidden;
    top: -15px;
    left: 62px;
}

input[type="tel"]:focus + div + div {
    visibility: visible;
}


    /* Text animations */

.input-container {
    position: relative;
}
    
.focus-text {
    visibility: hidden;
    position: absolute;
    top: 5px;
    color: gray;
    font-size: 0.9em;
    border-radius: 2px;
    padding: 4px;
    transition-duration: 0.1s;
}

form input:focus + div {
    visibility: visible;
    transform: translateX(3px) translateY(-19px);
    font-size: 0.80em;
    padding: 1px 4px;
    transition-duration: 0.3s;
    color: white;
}


form input:focus:valid + div {
    background-color: green;
}

form input:focus:invalid + div {
    background-color: red;
}

@media only screen and (max-width: 800px) {
    
    .img-container {
        width: 100%;
    }

    .form-container {
        width: 100%;
        padding-left: 0%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form h1 {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-row {
        justify-content: center;
    }
}
